// WRAPPER

.wrapper
	display flex
	flex-flow column wrap
	width 100%
	&.wrapper-banner
		background-color white
		box-shadow 0 12.1px 10px rgba(0, 0, 0, 0.065),
		0 97px 80px rgba(0, 0, 0, 0.07)
		padding 0.25rem
	&.wrapper-search
		margin 0 auto
		width 970px
	//&.wrapper-followers
	
+above(970px)
	.wrapper
		flex-flow row nowrap
		width 960px
		//&.wrapper-banner
		//	padding 0.25rem
		&.wrapper-followers
			width 970px