// USER

header
	align-items center
	display flex
	justify-content center
	&.banner-container
		padding 4rem 0
	section
		&.user
			&.user-avatar
				.avatar-container
					height 270px
					width 270px
					img
						&.image-avatar
							height 100%
							width auto
			&.user-demographics
				padding 0 3rem
				header
					align-items flex-start
					display flex
					flex-flow column wrap
					.user-name,
					.user-login
						display block
					.user-name
						h1
							margin-bottom 0
					.user-login
						h2
							margin-top 0